[Unit]
 Description=/etc/rc.local Compatibility
 ConditionPathExists=/etc/rc.local
 Wants=systemd-networkd.service
 After=systemd-networkd.service

[Service]
 Type=forking
 ExecStart=/etc/rc.local start
 TimeoutSec=5
 StandardOutput=tty
 RemainAfterExit=yes
 SysVStartPriority=99

[Install]
 WantedBy=multi-user.target
